/* @font-face {
	font-family: 'infected';
	src: url('../../fonts/infected.ttf')
}

@font-face {
	font-family: 'breakit';
	src: url('../../fonts/break it.ttf')
} */

html {
	width: 100%;
	height: 100%;
}

body {
	width: calc(100% - 16px);
	min-width: 624px;
	height: calc(100% - 16px);
	background-image: url('../../images/bg.jpg');
	background-position: center;
	background-size: cover;
}

#title {
	height: 75px;
	width: 100%;
	margin: 0px;
	text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #f9fc06, 0 0 8px #fe8800, 0 0 15px #fe5923, 0 0 20px #e4522e, 0 0 35px #e23429;

}

h1 {
	text-align: center;
	vertical-align: middle;
	font-family: fantasy;
	font-size: 38pt;
	color: rgba(0, 40, 35, 1);
	font-weight: normal;
}

#navbar {
	width: 100%;
	height: 35px;
}

.navbutt {
	display: inline-block;
	width: 200px;
	height: 100%;
	color: rgb(250, 200, 100);
	background-color: rgba(90, 90, 110, 1);
	border-width: 0px;
	border-radius: 10px 10px 0px 0px;
	outline: 0px;
}

.navActive {
	background-color: rgba(90, 90, 110, .5);
}

.navbutt:hover {
	background-color: rgba(90, 90, 110, .5);
}

.viewer {
	display: none;
	width: calc(100% - 20px);
	height: calc(100% - 130px);
	background-color: rgba(90, 90, 110, .5);
	padding: 10px;
}

#mapview {
	display: block;
}

#map {
	width: 100%;
	height: 100%;
}

#visview {
	padding: 5px;
	font-size: 0px;
	width: calc(100% - 10px);
	height: calc(100% - 120px);
	text-align: center;
	overflow: auto;
}

.vis {
	display: inline-block;
	padding: 5px;
	width: calc(50% - 20px); 
	height: auto;
	margin: 5px;
	background-color: rgba(0, 0, 0, .5);
}

.ml {
	padding: 0px;
}

/* Sliders */

::-webkit-scrollbar {
	background-color: rgba(90, 90, 110, .0);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(90, 90, 110, 1);
}