html {
	width: 100%;
	height: 100%;
}

body {
	width: calc(100% - 16px);
	min-width: 624px;
	height: calc(100% - 16px);
}

#title {
	height: 75px;
	width: 100%;
	margin: 0px;
	text-align: center;
	vertical-align: middle;
}

#navbar {
	width: 100%;
	height: 35px;
}

.navbutt {
	display: inline-block;
	width: 200px;
	height: 100%;
	background-color: burlywood;
	border-width: 0px;
	border-radius: 10px 10px 0px 0px;
	outline: 0px;
}

.navbutt:hover {
	background-color: rgba(222, 184, 135, .5);
}

.viewer {
	display: none;
	width: 100%;
	height: calc(100% - 110px);
	background-color: rgba(222, 184, 135, .5);
}

#mapview {
	display: block;

}