@font-face {
	font-family: 'infected';
	src: url('../../fonts/infected.ttf')
}

@font-face {
	font-family: 'breakit';
	src: url('../../fonts/breakit.ttf')
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: calc(100% - 16px);
	min-width: 624px;
	height: calc(100% - 16px);
	background-image: url('../../images/bg.jpg');
	background-position: center;
	background-size: cover;
}

#title {
	height: 75px;
	width: 100%;
	margin: 0px;
	text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #f9fc06, 0 0 6px #fe8800, 0 0 8px #fe5923, 0 0 15px #e4522e, 0 0 20px #e23429

}

h1 {
	text-align: center;
	vertical-align: middle;
	font-family: 'breakit';
	font-size: 40pt;
	color: rgba(0, 25, 60, 1);
	font-weight: lighter;
}

#navbar {
	width: 100%;
	height: 35px;
}

.navbutt {
	display: inline-block;
	width: 200px;
	height: 100%;
	color: rgb(250, 200, 100);
	background-color: rgba(90, 90, 110, 1);
	border-width: 0px;
	border-radius: 10px 10px 0px 0px;
	outline: 0px;
}

.navActive {
	background-color: rgba(90, 90, 110, .5);
}

.navbutt:hover {
	background-color: rgba(90, 90, 110, .5);
}

.viewer {
	display: none;
	width: calc(100% - 20px);
	height: calc(100% - 130px);
	background-color: rgba(90, 90, 110, .5);
	padding: 10px;
	overflow: auto;
}

#mapview {
	display: block;
}

#map {
	width: 100%;
	height: 100%;
}

.legend {
	color: rgb(250 200 100);
    background-color: rgba(0,0,0,.75);
    padding: 0px 5px;
}

#visview {
	padding: 5px;
	font-size: 0px;
	width: calc(100% - 10px);
	height: calc(100% - 120px);
	text-align: center;
}

.vis {
	display: inline-block;
	padding: 5px;
	width: calc(50% - 20px); 
	height: auto;
	margin: 5px;
	background-color: rgba(0, 0, 0, .5);
}

.ml {
	padding: 0px;
}

#datatable {
	border-style: solid;
	border-color: rgba(90, 90, 110, 1);
	color: rgb(250, 200, 100);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-align: left;
	border-collapse: collapse;
	background-color: rgba(0, 0, 0, .35);
}

td {
	border-style: solid;
	border-color: rgba(90, 90, 110, 1);
	border-width: 0px 1px;
	padding: 4px;
}

th {
	font-weight: bold;
	font-size: 10pt;
	border-style: solid;
	border-color: rgba(90, 90, 110, 1);
	border-width: 3px 1px;
	padding: 4px
}

/* Sliders */

::-webkit-scrollbar {
	background-color: rgba(90, 90, 110, .0);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(90, 90, 110, 1);
}